
# Enviroment
__pycache__/
.pytest_cache/
.idea/
.vscode/
venv/
*.py[cod]

# Secret files
private/
# *.env
*codenames.py

#Output log files
output/
docker_output/
docker_influxdb/

# Test files
.coverage
coverage.xml
cov.xml
htmlcov/