# Enviroment
__pycache__/
.pytest_cache/
.idea/
.vscode/
venv/
*.venv/
*.py[cod]

# Secret files
*.env

#Output log files
output/

# Test files
.coverage
coverage.xml
cov.xml
htmlcov/

# Docker Mappings
docker-solar-logger/
docker-influxdb/